<h1>Listing statuses</h1>

<div class="entire-container">

  <p class="right"><%= link_to 'New Status', new_status_path %></p>

  <% @statuses.each do |status| %>

  <strong><%= status.name %></strong>
  <p><%= status.content %></p>

  <div class="meta">
    <%= link_to status.created_at, status %>
    <span class="admin">
     | <%= link_to 'Edit', edit_status_path(status) %>
     | <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %> |
    </span>
  </div>
  <div class="horizontal-line-left"></div>
  <% end %>
</div>








